* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;

  font-weight: 600;
}

#root {
  text-align: center;
}

.Header {
  width: 100%;
  display: flex;
  background-color: rgb(87, 87, 87);
}

.Header > ul {
  display: flex;

  list-style: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: rgb(0, 202, 192);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.user-form > div {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.user-form > div > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  padding: 5px;
}
